<form [formGroup]="form">
  <mat-card class="card">
    <mat-card-header
      style="font-size: larger; margin-right: 70px; margin-bottom: 30px"
      >{{ messages.get('auth/sign-in') }}</mat-card-header
    >
    <mat-card-content>
      <div class="input">
        <mat-form-field>
          <mat-label>{{ messages.get('auth/email') }}</mat-label>

          <input
            type="email"
            matInput
            [formControlName]="'email'"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              form.controls['email'].hasError('email') &&
              !form.controls['email'].hasError('required')
            "
          >
            {{ messages.get('auth/please-enter-valid-email-address') }}
          </mat-error>

          <mat-error *ngIf="form.controls['email'].hasError('required')">
            {{ messages.get('auth/email-is-required') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>{{ messages.get('auth/password') }}</mat-label>

          <input type="password" matInput [formControlName]="'password'" />
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            {{ messages.get('auth/password-is-required') }}
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-error *ngIf="showNotFoundUserError">
      {{ messages.get('auth/incorrect-login-password') }}
    </mat-error>
    <mat-card-actions class="input">
      <button
        mat-flat-button
        color="primary"
        class="btn"
        (click)="logIn()"
        type="button"
      >
        {{ messages.get('auth/login') }}
      </button>
      <button
        mat-flat-button
        color="accent"
        class="btn"
        (click)="logInWithGoogle()"
        type="button"
      >
        {{ messages.get('auth/login-with-google') }}
      </button>
    </mat-card-actions>

    <p *ngIf="testBool">
      {{ messages.get('auth/dont-have-account') }}
      <a [routerLink]="'/register'" style="color: #61dda0">{{
        messages.get('auth/create-new')
      }}</a>
    </p>
  </mat-card>
</form>
