<div class="container">
  <img class="img" src="../../../../../assets/img/Без названия.jpg" />
  <div class="sub1">
    <div class="name">
      <a href="https://google.com">
        14" Ноутбук Irbis NB283 серый [HD (1366x768), IPS, Intel Celeron 3350,
        ядра: 2 х 1.1 ГГц, RAM 4 ГБ, eMMC 128 ГБ, Intel HD Graphics 500 ,
        Windows 10 Pro]
      </a>
    </div>
  </div>
  <div class="test">
    <div class="price">$15 000</div>
    <div class="sub2">
      <button mat-icon-button color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-flat-button color="accent">Buy</button>
    </div>
  </div>
</div>
