<div class="box">
  <mat-toolbar>
    <button mat-button routerLink="/home">
      <img
        src="../../assets/img/Screenshot_20230125_035538-transformed.png"
        height="50"
        width="150"
      />
      <!--      <span style="margin-left: 7px; font-size: large">Online Shop</span>-->
    </button>
    <span class="example-spacer"></span>

    <button
      mat-button
      *ngIf="(isLoginPage | async) === false"
      [routerLink]="'user'"
    >
      <mat-icon>person</mat-icon>
      {{ messages.get('user/profile') }}
    </button>
    <!--    <mat-menu #menu="matMenu">-->
    <!--      <button mat-menu-item [routerLink]="'account-settings'">-->
    <!--        <span>Account Settings</span>-->
    <!--      </button>-->

    <!--      <button mat-menu-item>-->
    <!--        <span>Security</span>-->
    <!--      </button>-->

    <!--      <button mat-menu-item>-->
    <!--        <span>Sign Out</span>-->
    <!--      </button>-->
    <!--    </mat-menu>-->

    <div class="rangeForIcons"></div>
    <button mat-button *ngIf="(isLoginPage | async) === false">
      <mat-icon class="fav">favorite</mat-icon>
      {{ messages.get('user/orders') }}
    </button>
    <div class="rangeForIcons"></div>
    <button mat-button *ngIf="(isLoginPage | async) === false">
      <mat-icon>shopping_cart</mat-icon>
      {{ messages.get('user/card') }}
    </button>
    <div class="rangeForIcons"></div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeLanguageToENG()">
        <span>Eng</span>
      </button>

      <button mat-menu-item (click)="changeLanguageToRU()">
        <span>Ru</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
