<form [formGroup]="form">
  <mat-card class="card">
    <mat-card-header
      style="font-size: larger; margin-right: 70px; margin-bottom: 30px"
      >Sign Up
    </mat-card-header>
    <!--    <mat-divider style="align-items: flex-start"></mat-divider>-->
    <mat-card-content>
      <div class="input">
        <mat-form-field>
          <mat-label>Firstname</mat-label>

          <input
            type=""
            matInput
            [formControlName]="'firstname'"
            placeholder=""
          />
          <mat-error *ngIf="form.controls['firstname'].hasError('required')">
            Firstname is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Lastname</mat-label>
          <input matInput [formControlName]="'lastname'" />
          <mat-error *ngIf="form.controls['lastname'].hasError('required')">
            Lastname is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Email</mat-label>

          <input
            type="email"
            matInput
            [formControlName]="'email'"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              form.controls['email'].hasError('email') &&
              !form.controls['email'].hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="form.controls['email'].hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Password</mat-label>

          <input type="password" matInput [formControlName]="'password'" />
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-error *ngIf="hasErrorMessage">{{ signUpError }}</mat-error>
    <mat-card-actions class="input">
      <button
        mat-flat-button
        color="primary"
        class="btn"
        (click)="signUp()"
        type="button"
      >
        Create Account
      </button>
    </mat-card-actions>

    <p>
      Already have an account?
      <a [routerLink]="'/login'" style="color: #61dda0">Sign in</a>
    </p>
  </mat-card>
</form>
