.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  width: 95%;
  height: 95%;
}

.container-actions {
  display: flex;
  justify-content: space-between;
}
