<div class="container">
  <app-card
    [title]="'Profile'"
    [content]="'Manage, add, or remove user profiles'"
    [imageLink]="'assets/img/session.png'"
    [link]="'profile'"
  ></app-card>

  <app-card
    [title]="'Security'"
    [content]="'Edit login, name, and mobile number'"
    [imageLink]="'assets/img/security_levels.png'"
    [link]="'/user'"
  ></app-card>

  <app-card
    [title]="'Your Payments'"
    [content]="'View all transactions, manage payment methods'"
    [imageLink]="'assets/img/credit_cards.png'"
    [link]="'/user'"
  ></app-card>

  <app-card
    [title]="'Your Lists'"
    [content]="'View, modify, and share your lists, or create new ones'"
    [imageLink]="'assets/img/aplication_list.png'"
    [link]="'/user'"
  ></app-card>

  <app-card
    [title]="'Support'"
    [content]="''"
    [imageLink]="'assets/img/support.png'"
    [link]="'/user'"
  ></app-card>

  <app-card
    [title]="'Messages'"
    [content]="'View messages from sellers and buyers'"
    [imageLink]="'assets/img/message.png'"
    [link]="'/user'"
  ></app-card>

  <app-card
    [title]="'Archived'"
    [content]="'View and manage your archived orders'"
    [imageLink]="'assets/img/personal_record.png'"
    [link]="'/user'"
  ></app-card>
</div>
